<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title th:text="#{application.messages.title}">Mi & Ci</title>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/CalendarPicker.style.css}">
        <link rel="stylesheet" href='/css/main.css'>
    </head>
    <body>
	    <nav th:replace="fragments/top_menu :: top_menu"></nav>
	
	    <header id="main-header" class="py-4 mici-bgcolor text-black">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-6">
	                    <h4><i class="fa fa-address-book"></i> Atendimentos</h4>
	                </div>
	            </div>
	        </div>
	    </header>
	
		<section class="mt-2">
	  		<div class="container">
				<form th:action="@{/atendimentos/atualizar}" method="post">
	      			<div class="card">
	        			<div class="card-header">
	          				<h5 th:text="|Cliente: ${atendimento.cliente.nome}|"></h5>
	          				<input type="hidden" id="idCliente" name="idCliente" th:value=${atendimento.cliente.id}>
	          				<input type="hidden" id="idAtendimento" name="idAtendimento" th:value=${atendimento.id}>
	        			</div>
		        		<div class="card-body">
		          			<ul class="list-group list-group-flush">
		            			<li class="list-group-item">
			                    	<table class="table table-striped table-hover align-middle table-borderless">
                        				<thead>
                            				<tr>
                              				<th>Serviço</th>
                            					<th>Preço</th>
                            				</tr>
                        				</thead>
                        				<tbody>
                            				<tr th:each="itemAtendimento : ${atendimento.itensAtendimento}">
                                				<td th:text="${itemAtendimento.servico.nome}"></td>
                                				<td th:text="${#numbers.formatCurrency(itemAtendimento.precoAplicado)}"></td>
				                            </tr>
                				        </tbody>
                    				</table>
	            				</li>
		            			<li class="list-group-item">
		              				<div class="row">
		                				<div class="col  d-flex justify-content-end my-3">
		                  					<h5>Total do atendimento: <span class="badge bg-secondary" id="total-atendimento" th:text=${#numbers.formatCurrency(atendimento.totalAtendimento)}>R$ 0.00</span></h5>
		                				</div>
		              				</div>
		              				<div class="row">
		                				<div class="col d-flex justify-content-end">
		                  					<div class="mb-3">
		                  						<span class="me-3">Data do Atendimento</span>
												            <input type="date" disabled class="form-control" name="dataAtendimento" id="dataAtendimento" th:value="${atendimento.diaDoAtendimento}">
		                  					</div>
		                				</div>
		              				</div>
                          <div class="row mb-3">
                            <div class="col d-flex justify-content-end">
                                <div class="mb-3">
                                  <span class="me-3">Esse atendimento faz parte de um cronograma?</span>
                                  <input type="radio" name="cronograma" value="true" th:checked="${atendimento.cronograma}" disabled> Sim
                                  <input type="radio" name="cronograma" value="false" class="ms-2" th:checked="${not atendimento.cronograma}" disabled> Não
                                </div>
                            </div>
                          </div>     
                          <div class="row mb-3">
                            <div class="col d-flex justify-content-end">
                                <div class="mb-3">
                                  <span class="me-3">Esse atendimento será cobrado?</span>
                                  <input type="radio" name="seraCobrado" value="true" th:checked="${atendimento.seraCobrado}" disabled> Sim
                                  <input type="radio" name="seraCobrado" value="false" class="ms-2" th:checked="${not atendimento.seraCobrado}" disabled> Não
                                </div>
                            </div>
                          </div> 		              		
                          <section id="dados-pagamento">
                            <div class="row mb-3">
                              <div class="col-8 offset-4">
                                <div class="row mb-3">
                                  <div class="col">
                                    <table class="table table-striped table-hover align-middle" th:if="${atendimento.seraCobrado}">
                                        <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Forma de pagamento</th>
                                                <th>Pagamento</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="pagamento : ${atendimento.pagamentos}">
                                              <td th:text="${#dates.format(pagamento.diaDoPagamentoAsDate, 'dd/MM/yyyy')}"></td>
                                              <td th:text="${pagamento.formaPagamento.nome}"></td>
                                              <td th:text="${#numbers.formatCurrency(pagamento.valorPagamento)}"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="3">
                                                <div class="d-flex justify-content-end">
                                                  <p class="badge bg-primary fs-6" th:text="|Pagamento ${#numbers.formatCurrency(atendimento.valorPago)} de ${#numbers.formatCurrency(atendimento.valorAtendimento)}|">
                                                    Pagamento $60.00 de $100.00
                                                  </p>
                                                 </div>
                                               </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>
                                <div class="row" th:if="${atendimento.seraCobrado && !atendimento.pagamentoRealizado}">
                                  <div class="col-4">
                                    <div class="mb-3">
                                      <label for="preco" class="form-label">Valor pago</label>
                                        <div class="input-group">
                                          <span class="input-group-text" id="price-text">R$</span>
                                          <input type="text" name="valorPago" class="form-control" value="0.00" required pattern="^[0-9]+[.]?[0-9]+$">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-4">
                                    <div class="mb-3">
                                      <label for="formaPgto" class="form-label">Forma de Pagamento</label>
                                      <select class="form-select" name="idFormaPgto" id="idFormaPgto" aria-label="Default select example">
                                        <option selected value="0">Selecione</option>
                                        <option th:each="formaPagamento: ${formasPagamento}" th:value="${formaPagamento.id}" th:text="${formaPagamento.nome}">
                                      </select>
                                    </div>
                                  </div> 
                                  <div class="col-4">
                                    <div class="mb-3">
                                      <label for="dataPgto" class="form-label">Data do pagamento</label>
                                        <input type="date" class="form-control" name="dataPgto" id="dataPgto" th:value="${dataAtual}" required>
                                      </select>
                                    </div>
                                  </div>                                       
                                </div>
                              </div>                          
                            </div>
                          </section>                          		
        									<div class="row">
                  					<div class="col d-flex justify-content-end">
                      					<div class="mb-3">
                        					<label for="nome" class="form-label">Observação</label>
                    						<textarea 
                    							name="atendimentoObservacao" 
                    							id="atendimentoObservacao" 
                    							cols="30" 
                    							rows="3" 
                    							class="form-control"
                    							th:text="${atendimento.observacao}"></textarea>
                      					</div>
                  					</div>
                					</div>
  		            			</li>
  		          			</ul>
  		        		</div>
		        		<div class="card-footer d-flex justify-content-center">
		          			<input type="submit" class="btn btn-primary me-3" value="Salvar">
		      				<a th:href="@{'/atendimentos/listar/' + ${atendimento.cliente.id}}"  class="btn btn-outline-secondary me-3">Cancelar</a>
           	             	<a th:href="@{'/atendimentos/remover/' + ${atendimento.id}}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja remover?')">
                            	<i class="fa fa-trash"></i>
                           </a>     
		        		</div>
	      			</div>
				</form>
	  		</div>
		</section>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>
