<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title th:text="#{application.messages.title}">Mi & Ci</title>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/CalendarPicker.style.css}">
        <link rel="stylesheet" href='/css/main.css'>
    </head>
    <body>
	    <nav th:replace="fragments/top_menu :: top_menu"></nav>
	
	    <header id="main-header" class="py-4 mici-bgcolor text-black">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-6">
	                    <h4><i class="fa fa-calendar"></i> Atendimentos</h4>
	                </div>
	            </div>
	        </div>
	    </header>
	
		<section class="mt-2">
	  		<div class="container">
				<form th:action="@{/atendimentos/cadastrar}" method="post">
	      			<div class="card">
	        			<div class="card-header">
	          				<h5 th:text="|Cliente: ${cliente.nome}|"></h5>
	          				<input type="hidden" id="idCliente" name="idCliente" th:value=${cliente.id}>
	        			</div>
		        		<div class="card-body">
		          			<ul class="list-group list-group-flush">
		            			<li class="list-group-item">
		              				<div  id="services-container">
						                <div class="mb-3 row" data-container="container-0">
		                					<div class="col-5">
		                  						<label for="nome" class="form-label">Serviço</label>
		                  							<select class="form-select" name="servicos[0].tipoServico" id="servicos[0].tipoServico" data-action="select-servico" data-holder="container-0" required>
								                 		<option selected>Selecione uma opção</option>
							  							<option th:each="servico: ${servicos}" th:value="${servico.id}" th:text="${servico.nome}">
		                  							</select>
		                					</div>
			                				<div class="col-3">
			                  					<label for="nome" class="form-label">Valor padrão</label>
			                  					<div class="input-group">
			                      					<span class="input-group-text" id="price-text">R$</span>
													<input type="text" class="form-control" name="servicos[0].valorPadrao" id="servicos[0].valorPadrao" disabled data-type="valor-padrao" data-holder="container-0" pattern="^[0-9]+[.]?[0-9]+$" required>
			                  					</div>
			                				</div>
			                				<div class="col-3">
			                  					<label for="nome" class="form-label">Valor aplicado</label>
			                  					<div class="input-group">
			                      					<span class="input-group-text" id="price-text">R$</span>
					            					<input type="number" class="form-control" step="0.01" name="servicos[0].valorAplicado" id="servicos[0].valorAplicado" data-holder="container-0" data-type="valor-aplicado" data-action="valor-aplicado" pattern="^[0-9]+[.]?[0-9]+$" required>
			                  					</div>
			                				</div>
			                				<div class="col-1 d-flex align-items-end">
			                  					<button class="btn btn-outline-danger" data-action="remove-servico" data-holder="container-0">
			                    					<i class="fa fa-remove"></i>
			                  					</button>
			                				</div>
		              					</div>
		              				</div>
		              				<div class="row my-5">
		                				<div class="col d-flex justify-content-end">
		                  					<a href="#" class="btn btn-success btn-lg rounded-circle" id="btn-add-servico">+</a>
		                				</div>
		              				</div>
	            				</li>
		            			<li class="list-group-item">
		              				<div class="row">
		                				<div class="col  d-flex justify-content-end my-3">
		                  					<h5>Total do atendimento: <span class="badge bg-secondary" id="total-atendimento">R$ 0.00</span></h5>
		                				</div>
		              				</div>
		              				<div class="row">
		                				<div class="col d-flex justify-content-end">
		                  					<div class="mb-3">
		                  						<span class="me-3">É uma cortesia?</span>
		                  						<input type="radio" id="cortesia_sim" name="cortesia" value="sim" checked> Sim
		                    					<input class="ms-2" type="radio" id="cortesia_nao" name="cortesia" value="nao"> Não
		                  					</div>
		                				</div>
		              				</div>
		              				<section id="dados-pagamento" class="d-none">
			              				<div class="row">
			                				<div class="col d-flex justify-content-end">
			                  					<div class="mb-3">
			                    					<input type="checkbox" name="pagamento-realizado" id="pagamento-realizado"> Pagamento realizado
			                  					</div>
			                				</div>
			              				</div>
	    								<div class="row">
	  										<div class="col d-flex justify-content-end">
												<div class="mb-3">
	  												<label for="nome" class="form-label">Forma de Pagamento</label>
	  												<select class="form-select" name="forma-pgto" id="forma-pgto" aria-label="Default select example">
	  													<option selected value="0">Selecione</option>
														<option th:each="formaPagamento: ${formasPagamento}" th:value="${formaPagamento.id}" th:text="${formaPagamento.nome}">
	  												</select>
												</div>
	  										</div>
	  									</div>
		              				</section>
									<div class="row">
                    					<div class="col d-flex justify-content-end">
	                      					<div class="mb-3">
	                        					<label for="nome" class="form-label">Observação</label>
	                    						<textarea name="atendimento-observacao" id="atendimento-observacao" cols="30" rows="3" class="form-control"></textarea>
	                      					</div>
                    					</div>
                					</div>
		            			</li>
		          			</ul>
		        		</div>
		        		<div class="card-footer d-flex justify-content-center">
		          			<input type="submit" class="btn btn-primary me-3" value="Salvar">
		      				<a href="#" class="btn btn-outline-secondary">Cancelar</a>
		        		</div>
	      			</div>
				</form>
	  		</div>
		</section>
	
		<script th:src="@{/js/Atendimento.js}" charset="utf-8" type="module"></script>
		
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>
