<!DOCTYPE html>
<html lang="pt-br" dir="ltr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title th:text="#{application.messages.title}">Mi & Ci</title>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0" th:fragment="top_menu">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand" th:text="#{application.messages.title}">Mi & Ci</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item pe-3">
                        <a th:href="@{/agenda/}" class="nav-link">
                            <i class="fa fa-calendar"></i> Agenda
                        </a>
                    </li>
                    <li class="nav-item dropdown pe-3">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-address-book"></i> Atendimentos
                        </a>
                        <ul class="dropdown-menu">
                        	<li>
                        		<a href="/clientes/listar" class="dropdown-item">
                        			<i class="fa fa-address-book"></i> Fazer atendimento
                        		</a>
                        	</li>
                    	    <li><hr class="dropdown-divider"></li>
                    	    <li>
                    	    	<a href="/atendimentos/listar/hoje" class="dropdown-item">
                    	    		<i class="fa fa-arrow-circle-o-down"></i> Ver atendimentos de hoje
                    	    	</a>
                    	    </li>
                    	    <li>
                    	    	<a href="/atendimentos/listar/naopagos" class="dropdown-item">
                    	    		<i class="fa fa-exclamation-circle"></i> Ver atendimentos não pagos
                    	    	</a>
                    	    </li>       
	                 	    <li><hr class="dropdown-divider"></li>
                    	    <li>
                    	    	<a href="/atendimentos/consultar" class="dropdown-item">
                    	    		<i class="fa fa-search"></i> Consultar atendimentos
                    	    	</a>
                    	    </li> 
                        </ul>
                    </li>
                    <li class="nav-item dropdown pe-3">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-dollar"></i> Caixa
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="/clientes/listar" class="dropdown-item">
                              <i class="fa fa-dollar"></i> Receber pagamento
                            </a>
                          </li>
                          <li><hr class="dropdown-divider"></li>
                          <li>
                            <a href="/pagamentos/hoje" class="dropdown-item">
                              <i class="fa fa-arrow-circle-o-down"></i> Ver pagamento de hoje
                            </a>
                          </li>
                          <li>
                            <a href="/pagamentos/consultar" class="dropdown-item">
                              <i class="fa fa-search"></i> Consultar pagamentos
                            </a>
                          </li>       
                        </ul>
                    </li>                    
                    <li class="nav-item dropdown pe-3">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-user"></i> Clientes
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                          	<a href="/clientes/form" class="dropdown-item">
                          		<i class="fa fa-pencil"></i> Cadastrar
                          	</a>
                        	</li>
                        	<li>
                          	<a href="/clientes/listar" class="dropdown-item">
                          		<i class="fa fa-search"></i> Consultar
                          	</a>
                        	</li>        
                          <li><hr class="dropdown-divider"></li>   
                          <li>
                            <a href="/clientes/listar/debito" class="dropdown-item">
                              <i class="fa fa-money"></i> Verificar débitos
                            </a>
                          </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown pe-5">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-briefcase"></i> Serviços
                        </a>
                        <div class="dropdown-menu">
                            <a th:href="@{/servicos/form}" class="dropdown-item">
                                <i class="fa fa-pencil"></i> Cadastrar Serviço
                            </a>
                            <a th:href="@{/servicos/listar}" class="dropdown-item">
                                <i class="fa fa-search"></i> Consultar Serviços
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-user"></i><span th:text="${loggedUser}" class="ms-2"></span>
                        </a>
                        <ul class="dropdown-menu">
                        	<li>
	                            <a th:href="@{/password/alterar}" class="dropdown-item">
	                                <i class="fa fa-lock"></i> Alterar senha
	                            </a>
                          </li>
						              <li><hr class="dropdown-divider"></li>   
							           <li>          
								          <div class="dropdown-item">
								            <form th:action="@{/logout}" method="post">
								 	            <i class="fa fa-sign-out"></i>
										          <input type="submit" class="btn btn-light" value="Sair">
                            </form>
								          </div>               
                        </li>
                      </ul>                    
                  </li>
              </ul>
          </div>
      </div>
    </nav>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
