<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mi & Ci</title>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/CalendarPicker.style.css}">
        <link rel="stylesheet" href='/css/main.css'>
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand">Mi & Ci</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item pe-3">
                        <a th:href="@{/agenda/}" class="nav-link">
                            <i class="fa fa-calendar"></i> Agenda
                        </a>
                    </li>
                    <li class="nav-item pe-3">
                        <a href="#" class="nav-link">
                            <i class="fa fa-address-book"></i> Atendimentos
                        </a>
                    </li>
                    <li class="nav-item pe-3">
                        <a href="#" class="nav-link">
                            <i class="fa fa-user"></i> Clientes
                        </a>
                    </li>
                    <li class="nav-item pe-5">
                        <a href="servicos.html" class="nav-link">
                            <i class="fa fa-briefcase"></i> Serviços
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fa fa-sign-out"></i> Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="main-header" class="py-4 mici-bgcolor text-black">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4><i class="fa fa-calendar"></i> Agenda</h4>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col">
                    <div id="calendarWrapper" class="my-3"></div>
            </div>
        </div>
    </div>

    <section id="main-footer" class="bg-dark text-white mt-0 p-1 fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center">
                        Mi & Ci
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}" charset="utf-8" type="module"></script>
    </body>
</html>
