<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title th:text="#{application.messages.title}">Mi & Ci</title>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/CalendarPicker.style.css}">
        <link rel="stylesheet" href='/css/main.css'>
    </head>
    <body>
    <nav th:replace="fragments/top_menu :: top_menu"></nav>

    <header id="main-header" class="py-4 mici-bgcolor text-black">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4><i class="fa fa-calendar"></i> Agenda</h4>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col">
                    <div id="calendarWrapper" class="my-3"></div>
            </div>
        </div>
    </div>

    <section th:replace="fragments/footer :: footer"></section>
    
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}" charset="utf-8" type="module"></script>
    </body>
</html>
