<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title th:text="#{application.messages.title}">Mi & Ci</title>
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
   <body>
    <nav th:replace="fragments/top_menu :: top_menu"></nav>
    
    <header id="main-header" class="py-4 mici-bgcolor text-black">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4><i class="fa fa-cog"></i> Dashboard</h4>
                </div>
            </div>
        </div>
    </header>
    
    <section class="mt-3">
    	<div class="container">
    		<div class="row">
    			<div class="col-4">
                    <div class="card text-center bg-primary text-white mb-3">
                        <div class="card-body">
                            <h3>Atendimentos do dia</h3>
                            <h4 class="display-4" th:text=${dashboard.totalAtendimentosDia}>0</h4>
                            <a href="/atendimentos/listar/hoje" class="btn btn-outline-light btn-sm">
                                Visualizar
                            </a>
                        </div>
                    </div>
    			</div>
    			<div class="col-4">
                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3>Atendimentos da semana</h3>
                            <h4 class="display-4" th:text=${dashboard.totalAtendimentosSemana}>0</h4>
                            <a href="/atendimentos/consultar" class="btn btn-outline-light btn-sm">
                                Visualizar
                            </a>
                        </div>
                    </div>
    			</div>
    			<div class="col-4">
                    <div class="card text-center bg-warning text-white mb-3">
                        <div class="card-body">
                            <h3>Total de atendimentos</h3>
                            <h4 class="display-4" th:text=${dashboard.totalAtendimentos}>0</h4>
                            <a href="/atendimentos/consultar" class="btn btn-outline-light btn-sm">
                                Visualizar
                            </a>
                        </div>
                    </div>
    			</div>
    		</div>
    	</div>
    </section>
    
    <section class="mt-3">
    	<div class="container">
    		<div class="row">
    			<div class="col">
                    <div class="card">
                    	<div class="card-header bg-secondary text-white ">
                    		<h5>Aniversariantes da semana</h5>
                    	</div>
                        <div class="card-body">
                        	<div class="alert alert-secondary" role="alert" th:if="${#lists.isEmpty(dashboard.aniversariantesDaSemana)}">
                        		Não há aniversáriantes nessa semana
                        	</div>
		                    <table class="table table-sm table-borderless table-striped table-hover align-middle" 
		                    		th:if="${not #lists.isEmpty(dashboard.aniversariantesDaSemana)}">
		                        <thead>
		                            <tr>
		                                <th>Nome</th>
		                                <th>Data de Nascimento</th>
		                                <th></th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr th:each="cliente : ${dashboard.aniversariantesDaSemana}">
		                                <td th:text="${cliente.nome}"></td>
		                                <td th:text="${#dates.format(cliente.dataNascimentoAsDate, 'dd/MM/yyyy')}"></td>
		                                <td class='text-end'>
		           	                       	<a th:href="@{'/clientes/editar/' + ${cliente.id}}" class="btn btn-primary">
		                                        <i class="fa fa-search"></i>
		                                    </a>
		                                </td>
		                            </tr>
		                        </tbody>
                    		</table>
                        </div>
                    </div>
    			</div>
    		</div>
    	</div>
    </section>    
    
    <section class="my-3">
    	<div class="container">
    		<div class="row">
    			<div class="col">
                    <div class="card">
                    	<div class="card-header bg-secondary text-white ">
                    		<h5>Aniversariantes do mês</h5>
                    	</div>
                        <div class="card-body">
                        	<div class="alert alert-secondary" role="alert" th:if="${#lists.isEmpty(dashboard.aniversariantesDoMes)}">
                        		Não há aniversáriantes nessa semana
                        	</div>                        
		                    <table class="table table-sm table-borderless table-striped table-hover align-middle" 
		                    		th:if="${not #lists.isEmpty(dashboard.aniversariantesDoMes)}">
		                        <thead>
		                            <tr>
		                                <th>Nome</th>
		                                <th>Data de Nascimento</th>
		                                <th></th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr th:each="cliente : ${dashboard.aniversariantesDoMes}">
		                                <td th:text="${cliente.nome}"></td>
		                                <td th:text="${#dates.format(cliente.dataNascimentoAsDate, 'dd/MM/yyyy')}"></td>
		                                <td class='text-end'>
		           	                       	<a th:href="@{'/clientes/editar/' + ${cliente.id}}" class="btn btn-primary">
		                                        <i class="fa fa-search"></i>
		                                    </a>
		                                </td>
		                            </tr>
		                        </tbody>
                    		</table>
                        </div>
                    </div>
    			</div>
    		</div>
    	</div>
    </section>  
        
    <section th:replace="fragments/non-fixed-footer :: footer"></section>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
   </body>
</html>
